﻿@model PagedList.IPagedList<IEP_Auctions.Models.Auction>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "My auctions";
}

@using (Html.BeginForm("MyAuctions", "User", FormMethod.Get))
{
    <div class="row m-2">
        <div class="col-sm-12">
            <input class="form-control w-100" style="width: 100%" type="text" placeholder="Search.." name="SearchString" data-toggle="tooltip" data-placement="top" title="Input words separated by spaces" />
        </div>
    </div>
    <div class="row m-2">
        <div class="col-sm-2">
            <input class="form-control" type="number" min="1" placeholder="Min" name="Min" />
        </div>
        <div class="col-sm-2">
            <input class="form-control" type="number" min="1" placeholder="Max" name="Max" />
        </div>
        <div class="col-sm-3">
            <input class="form-control" type="number" min="1" placeholder="Items per page" name="ItemsPerPage" />
        </div>
        <div class="col-sm-3">
            <select class="form-control" name="Status">
                <option selected>State</option>
                <option>READY</option>
                <option>OPENED</option>
                <option>COMPLETED</option>
            </select>
        </div>
        <div class="col-sm-2">
            <input type="submit" value="Filter" class="btn btn-primary text-strong" />
        </div>
    </div>
    <hr />
}

<div class="container-fluid content-row mt-5">
    @{
        int j = 0;
        for (int i = 0; i < Model.Count(); i += 4)
        {
            j = i;

            <div class="row mb-4">

                @while (j < i + 4 && j < Model.Count())
                {
                    <div class="col-sm-3">
                        <div class="card h-100 text-center border-dark">
                            <div class="card-header"><strong>@Model[j].name</strong></div>
                            <a href="@Url.Action("BidAuction", "Auction", new { auctionID = Model[j].auctionID, area = "" })">
                                <img class="card-img-top" src="data:image/png;base64,@Convert.ToBase64String(Model[j].image, 0, Model[j].image.Length)" alt="">
                            </a>
                            <div class="card-body d-flex flex-column">
                                @{
                                    switch (Model[j].status)
                                    {
                                        case "READY":
                                            <span id="status_@Model[j].status" class="badge bg-info">READY</span>
                                            break;
                                        case "OPENED":
                                            <span id="status_@Model[j].status" class="badge bg-success">OPENED</span>
                                            break;
                                        case "COMPLETED":
                                            <span id="status_@Model[j].status" class="badge bg-danger">COMPLETED</span>
                                            break;
                                    }
                                }
                                <p id="time_@Model[j].auctionID" class="card-text mt-auto"></p>
                                <p id="price_@Model[j].auctionID" style="color:green;" class="card-text mt-auto"><b><i>@Model[j].currentPrice @Model[j].currency</i></b></p>
                                <p id="tokens_@Model[j].auctionID" class="card-text mt-auto"><b>@Model[j].currentTokenPrice</b> <img class="img-fluid" src="https://i.postimg.cc/Vkk2nz1y/coins.png" style="width: 20px; height: 20px" /></p>
                                <p id="bidder_@Model[j].auctionID" class="card-text mt-auto text-success">
                                    @if (Model[j].Bid.OrderByDescending(b => b.tokens).FirstOrDefault() != null)
                                    {
                                        <i>@Model[j].Bid.OrderByDescending(b => b.tokens).FirstOrDefault().User.email</i>
                                    }
                                    else
                                    {
                                        <i>Nobody submitted yet</i>
                                    }
                                </p>
                                @{
                                    int min = ((int)Model[j].currentTokenPrice) + 1;


                                    if (Session["User"] != null)
                                    {
                                        switch (Model[j].status)
                                        {
                                            case "READY":
                                                <input type="hidden" id="amount" name="amount" min="@min" value="@min">
                                                <input type="hidden" name="auctionID" value="@Model[j].auctionID" />
                                                <br />
                                                <input type="submit" class="btn btn-primary mt-auto disabled" id="bidBtn_@Model[j].auctionID" value="Bid" />
                                                break;
                                            case "OPENED":
                                                using (Html.BeginForm("BidAuction", "Auction", FormMethod.Post))
                                                {
                                                    <input type="hidden" id="amount" name="amount" min="@min" value="@min">
                                                    <input type="hidden" name="auctionID" value="@Model[j].auctionID" />
                                                    <br />
                                                    <input type="submit" class="btn btn-primary mt-auto" id="bidBtn_@Model[j].auctionID" value="Bid" />
                                                }
                                                break;
                                            case "COMPLETED":
                                                <input type="hidden" id="amount" name="amount" min="@min" value="@min">
                                                <input type="hidden" name="auctionID" value="@Model[j].auctionID" />
                                                <br />
                                                <input type="submit" class="btn btn-primary mt-auto disabled" id="bidBtn_@Model[j].auctionID" value="Bid" />
                                                break;
                                        }
                                    }


                                }
                            </div>
                            </div>
                        </div>

                        if (!Model[j].status.Trim().Equals("COMPLETED") && Model[j].status.Trim().Equals("OPENED"))
                        {
                            <script>

                            var remaining = @Model[j].opened.Value.Ticks/10000000 + @Model[j].duration - @DateTime.Now.Ticks / 10000000;
                            var timer = setInterval(function() {

                                remaining = remaining - 1;

                                //auction over
                                if (remaining <= 0) {
                                    clearInterval(timer);
                                    document.getElementById("status_@Model[j].status").innerHTML = "COMPLETED";
                                    document.getElementById("status_@Model[j].status").className = "badge bg-danger";
                                    document.getElementById("time_@Model[j].auctionID").innerHTML = "";
                                    document.getElementById("bidBtn_@Model[j].auctionID").disabled = true;
                                    $('#bidBtn_@Model[j].auctionID').prop('disabled', true);
                                    $('#bidBtn_@Model[j].auctionID').attr('disabled', 'disabled');

                                $.ajax({
                                    type: "POST",
                                    url: '@Url.Action("CompleteAuction", "Auction", new { auctionID = Model[j].auctionID })',
                                    dataType: "json",
                                    contentType: "application/json; charset=utf-8",
                                    success: function ()
                                    {
                                    }
                                 });

                                return;
                            }

                            //convert seconds to days, hours and minutes
                            var days = Math.floor(remaining / (60 * 60 * 24));
                            var hours = Math.floor((remaining % (60 * 60 * 24)) / (60 * 60));
                            var minutes = Math.floor((remaining % (60 * 60)) / (60));
                            var seconds = Math.floor(remaining % (60));
                            document.getElementById("time_@Model[j].auctionID").innerHTML = days + " days " + hours + ":"
                                + minutes + ":" + seconds;

                        }, 1000);

                            </script>
                        }

                        j++;
                    }
            </div>


        }
    }
</div>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("MyAuctions", "User",
        new { page, currentFilter = ViewBag.CurrentFilter, min = ViewBag.Min, max = ViewBag.Max, itemsPerPage = ViewBag.ItemsPerPage, status = ViewBag.Status }))

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

@section scripts {
    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <!--SignalR script to update the chat page and send messages.-->
    <script>


        $(function () {
            // Reference the auto-generated proxy for the hub.
            var bidHub = $.connection.bidHub;
            // Create a function that the hub can call back to display messages.
            bidHub.client.updateBidPrice = function (auctionID, email, price, tokens, currency) {
                document.getElementById("price_" + auctionID).innerHTML = '<b><i>' + price + " " + currency + '</i></b>';
                document.getElementById("bidder_" + auctionID).innerHTML = '<p><i>' + email + '</i></p>';
                document.getElementById("tokens_" + auctionID).innerHTML = '<b>' + tokens + '</b> <img class="img-fluid" src="https://i.postimg.cc/Vkk2nz1y/coins.png" style="width: 20px; height: 20px" />';
                document.getElementById("bidBtn_" + auctionID).min = tokens + 1;
            };

            $.connection.hub.start().done(function () {
            });
        });
    </script>
}

