﻿@model IEP_Auctions.Models.UserView

@{
    ViewBag.Title = "ProfilePage";
}

<h2>Profile page</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tokens)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tokens)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userType)
        </dd>

    </dl>
    @if (ViewBag.UserType.Equals("admin"))
    {
        <hr />
        <img src="https://i.postimg.cc/KjHh7jJR/settings_2.png" style="width:50px; height:50px" /> @Html.ActionLink("Edit configurations", "EditConfiguration", "User")
        <hr />
        <img src="https://i.postimg.cc/G3Q28jR5/approve.png" style="width:50px; height:50px" /> @Html.ActionLink("Review auctions", "ReviewAuctions", "Auction")
    }
    <hr />
    <img src="https://i.postimg.cc/wMMvySW9/settings_1.png" style="width:50px; height:50px" /> @Html.ActionLink("Edit user details", "EditUser", "User")
    <hr />
    <img src="https://i.postimg.cc/JnCNnQ8h/auction_2.png" style="width:50px; height:50px" /> @Html.ActionLink("Won auctions", "WonAuctions", "User")
    <hr />
    <img src="https://i.postimg.cc/prYqx6nx/auction_1.png" style="width:50px; height:50px" /> @Html.ActionLink("My auctions", "MyAuctions", "User")
    <hr />
    <img src="https://i.postimg.cc/QdJHzkWG/ecommerce.png" style="width:50px; height:50px" /> @Html.ActionLink("List of token orders", "TokenOrders", "TokenOrder")
    <hr />
    <img src="https://i.postimg.cc/x8gt1bXX/hand.png" style="width:50px; height:50px" /> @Html.ActionLink("Order tokens", "OrderTokens", "TokenOrder")

</div>