﻿@model IEP_Auctions.Models.AuctionView

@{
    ViewBag.Title = "Auction details";
    string firstName = "";
    string lastName = "";
    Guid? sessionUserID = null;

    if (Session["User"] != null)
    {
        IEP_Auctions.Models.User user = Session["User"] as IEP_Auctions.Models.User;

        firstName = user.firstName;
        lastName = user.lastName;
        sessionUserID = user.userID;
    }

}

@if (ViewBag.AdminMessage != null)
{
    if (Convert.ToBoolean(ViewBag.AdminStatus))
    {
        <div class="alert alert-success">
            @ViewBag.AdminMessage
        </div>
    }
    else if (!Convert.ToBoolean(ViewBag.Status))
    {
        <div class="alert alert-danger">
            @ViewBag.AdminMessage
        </div>
    }
}
else
{
    <h2>Auction details</h2>

    <div>
        <hr />
        <dl class="dl-horizontal"></dl>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-lg-4">
                <div class="card mt-4 text-center" style="display: block">
                    <div class="card-header"><strong>@Model.auction.name</strong></div>
                    <img class="card-img-top" style="width:100%; height:auto" src="data:image/png;base64,@Convert.ToBase64String(Model.auction.image, 0, Model.auction.image.Length)" alt="" />
                    <div class="card-body d-flex flex-column">
                        @{
                            switch (Model.auction.status)
                            {
                                case "READY":
                                    <span id="status" class="badge bg-info">READY</span>
                                    break;
                                case "OPENED":
                                    <span id="status" class="badge bg-success">OPENED</span>
                                    break;
                                case "COMPLETED":
                                    <span id="status" class="badge bg-danger">COMPLETED</span>
                                    break;
                            }
                        }
                        <p class="card-text mt-auto" id="price" style="color:green;"><b><i>@Model.auction.currentPrice @Model.auction.currency</i></b></p>
                        <p class="card-text mt-auto" id="tokens"><b>@Model.auction.currentTokenPrice</b> <img class="img-fluid" src="https://i.postimg.cc/Vkk2nz1y/coins.png" style="width: 20px; height: 20px" /></p>
                        <p class="card-text mt-auto" id="timer"></p>
                        <p class="card-text mt-auto"><b>Auction by:</b>&nbsp;@Model.user.firstName @Model.user.lastName</p>


                        @if (Model.auction.status.Trim().Equals("READY") && ViewBag.LoggedIn == 2)
                        {
                            <div id="ready">
                                @Html.ActionLink("Start", "StartAuction", "Auction", new { auctionID = Model.auction.auctionID, area = "" }, htmlAttributes: new { @class = "btn btn-success" })
                                @Html.ActionLink("Delete", "DeleteAuction", "Auction", new { auctionID = Model.auction.auctionID, area = "" }, htmlAttributes: new { @class = "btn btn-danger" })
                            </div>
                        }
                    </div>
                </div>

                <!--izbrisi1-->
                @if (ViewBag.LoggedIn != 0 && Model.auction.status.Trim().Equals("OPENED")) //if user is logged in and if auction is in state opened
                {
                    <br />
                    <div id="bidding">
                        <center>
                            @using (Html.BeginForm("BidAuction", "Auction", FormMethod.Post))
                            {
                                int min = Convert.ToInt32(Model.auction.currentTokenPrice.ToString()) + 1;
                                <p>Bid amount: <input type="number" id="amount" name="amount" min="@min" value="@min" /></p>
                                <input type="hidden" name="auctionID" value="@Model.auction.auctionID" />
                                <br />
                                <input type="submit" class="btn btn-success" id="bidBtn" value="Submit" />
                            }
                        </center>
                    </div>
                }
                <!--izbrisi2-->

                <br />
                <center>
                    @if (ViewBag.Message != null)
                    {
                        if (ViewBag.Success)
                        {
                            <div class="alert alert-success">
                                @ViewBag.Message
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-danger">
                                @ViewBag.Message
                            </div>
                        }
                    }
                </center>

            </div>

            <div class="col-lg-8">
                <p><strong>Bids</strong></p>
                <table id="bidTable" class="table">

                    @if (Model.bids == null)
                    {
                        <tr>
                            <td>No bids at this time</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <th>Full Name</th>
                            <th>Tokens</th>
                            <th>Date and Time</th>
                        </tr>
                    }

                    @foreach (var bid in Model.bids)
                    {
                        <tr>
                            <td>
                                @bid.User.firstName @bid.User.lastName
                            </td>
                            <td>
                                @bid.tokens
                            </td>
                            <td>
                                @bid.time
                            </td>
                        </tr>
                    }

                </table>
            </div>

        </div>

        <div class="row m-2">
            <div class="col-sm-2">
                @if (ViewBag.PDF != null)
                {
                    if (ViewBag.PDF.Equals("true"))
                    {
                        <div class="alert alert-success">
                            PDF saved successfully!
                        </div>
                    }
                }
            </div>
        </div>

        @using (Html.BeginForm("PrintPDF", "Auction", FormMethod.Post))
        {
            <div class="row m-2">
                <div class="col-sm-2">
                    <input type="hidden" name="auctionID" value="@Model.auction.auctionID" />
                    <input type="submit" id="pdfBtn" value="" class="btn" style="background:url(https://i.postimg.cc/Zn8xLjFf/pdf_1.png) no-repeat; height:70px; width:70px;" />
                </div>
            </div>
        }


    </div>

    @section scripts {
        <!--Script references. -->
        <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
        <!--Reference the SignalR library. -->
        <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
        <!--Reference the autogenerated SignalR hub script. -->
        <script src="~/signalr/hubs"></script>
        <!--SignalR script to update the chat page and send messages.-->
        <script>


            $(function () {
                // Reference the auto-generated proxy for the hub.
                var bidHub = $.connection.bidHub;
                // Create a function that the hub can call back to display messages.
                bidHub.client.addBidToPage = function (firstName, lastName, tokens, time, auctionID) {
                    //check if the bid is for this auction

                    var table = document.getElementById("bidTable");
                    //insert row under header
                    var row = table.insertRow(1);
                    var cell1 = row.insertCell(0);
                    var cell2 = row.insertCell(1);
                    var cell3 = row.insertCell(2);
                    cell1.innerHTML = firstName + " " + lastName;
                    cell2.innerHTML = tokens;
                    cell3.innerHTML = time;

                    //set new minimum amount for bidding
                    var amount = document.getElementById("amount");
                    amount.min = tokens + 1;
                    amount.value = tokens + 1;
                };

                //pocetak
                bidHub.client.updateBidPrice = function (auctionID, email, price, tokens, currency) {
                    document.getElementById("price").innerHTML = "<b><i>" + price + " " + currency + "</i></b>";
                    document.getElementById("tokens").innerHTML = "<b>" + tokens + "</b> <img class=\"img-fluid\" src=\"https://i.postimg.cc/Vkk2nz1y/coins.png\" style=\"width: 20px; height: 20px\" />";
                };
                //kraj

                $.connection.hub.start().done(function () {
                });
            });
        </script>
    }

    <!--izbrisi3-->
    if (!Model.auction.status.Trim().Equals("COMPLETED") && Model.auction.status.Trim().Equals("OPENED"))
    {

        <script>

        var remaining = @Model.auction.opened.Value.Ticks/10000000 + @Model.auction.duration - @DateTime.Now.Ticks / 10000000;
        var timer = setInterval(function() {

            remaining = remaining - 1;

            //auction over
            if (remaining <= 0) {
                clearInterval(timer);
                var table = document.getElementById("bidTable");
                document.getElementById("status").innerHTML = "COMPLETED";
                document.getElementById("status").className = "badge bg-danger";
                document.getElementById("timer").innerHTML = "";
                document.getElementById("bidding").innerHTML = "";

                table.rows[1].className = "success";

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CompleteAuction", "Auction", new { auctionID = Model.auction.auctionID })',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                    }
                });

                return;
            }

            //convert seconds to days, hours and minutes
            var days = Math.floor(remaining / (60 * 60 * 24));
            var hours = Math.floor((remaining % (60 * 60 * 24)) / (60 * 60));
            var minutes = Math.floor((remaining % (60 * 60)) / (60));
            var seconds = Math.floor(remaining % (60));
            document.getElementById("timer").innerHTML = days + " days " + hours + ":"
                + minutes + ":" + seconds;

        }, 1000);

        </script>
    }
    else if (Model.auction.status.Trim().Equals("COMPLETED"))
    {
        <script>
            var table = document.getElementById("bidTable");
            document.getElementById("status").innerHTML = "COMPLETED";
            document.getElementById("status").className = "badge bg-danger";
            document.getElementById("timer").innerHTML = "";

            table.rows[1].className = "success";

        </script>
    }
    <!--izbrisi4-->

}
