﻿
@{
    ViewBag.Title = "Delete auction result";
}

@if (ViewBag.AdminMessage != null)
{
    if (Convert.ToBoolean(ViewBag.AdminStatus))
    {
        <div class="alert alert-success">
            @ViewBag.AdminMessage
        </div>
    }
    else if (!Convert.ToBoolean(ViewBag.Status))
    {
        <div class="alert alert-danger">
            @ViewBag.AdminMessage
        </div>
    }
}